
.sections{
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section{
    width: 274px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #007EA7;
    border-radius: 10px ;
}
.section:hover{
background: #007EA7;
border: 2px solid #007EA7;
border-radius:  10px;
color: #FFFFFF;
cursor: pointer;
}
.sectionCliquee{
background: #007EA7;
border: 2px solid #007EA7;
border-radius:  10px;
color: #FFFFFF;
}
.Evenements{
    padding: 20px;
    border-top: 2px solid #007EA7;
    border-bottom: 2px solid #007EA7;
    border-radius:  10px;
}
.evenement{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #007EA7;
    margin-bottom:10px;
   
    
}
.evenement>p{
    margin: 0px;
    margin-bottom:10px;   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
}
.ED>h3{
    margin: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.prix{
    margin-left: 500px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 18px;
    color: #007EA7;
    margin-top: 5px;
}
.evenement>h5{
    margin: 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #007EA7;
    }
.ellipse{
    width: 35px;
    height: 37px;
    background-image: url("../../../public/Ellipse.png") ;
    background-repeat: no-repeat;
}
.ED{
    display: flex;
    flex-direction: row;
}
.ajouter{
width: 160px;
height: 40px;
background: #00A8E8;
border-radius: 10px;
margin-left: 500px;
margin-top: 10px;
border: 2px solid #00A8E8;
}
.ajouter:hover{ 
 cursor: pointer;
 background: #007EA7;
 border: 2px solid #007EA7;
}
.nombre{
width: 450px;
height: 40px;
background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #393D3F;
display: flex;
justify-content: center;
align-items: center;
margin-left: 110px;
margin-top: 20px;
}
.resultat{
font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 50px;
color: #00A8E8;
}
.INFOS{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
    padding: 10px;
}
.sect{
width: 135px;
height: 35px;
background: #00A8E8;
border-radius: 5px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
justify-content: center;
color: #FFFFFF;

}
.Guide>p>h4{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
.Guide>p{
    display: flex;
    flex-direction: row;
}
.Guide>h3{
margin-top: 15px;
margin-bottom: 5px;
}
.Urgence>h3{
    margin-top: 8px;
    margin-bottom: 3px; 
}
.Urgence>p{
    margin-top: 3px;
    margin-bottom: 8px; 
}
.Horaires>p{
    display: flex;
    flex-direction: row;}
.Horaires>p>h3{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
.Transport>ul{
    display: flex;
    flex-direction: row;
}
.Transport>ul>h4{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
.Transport{
    padding: 20px;
    padding-top: 3px;
}
.Horaires{
    padding: 20px;
    padding-top: 3px;
}
.Urgence{
    padding-left: 20px;
}
.Desc{
    padding-left: 20px;
}
.Guide{
    padding-left: 20px;  
}
.topInfo{
    display: flex;
    flex-direction: row;
    gap: 380px;
    
}
.modifierB{
width: 135px;
height: 35px;
background: #007EA7;
border-radius: 5px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
}
.modifierB:hover{
cursor: pointer;

}
.FormulaireModif{
    border: 20px solid  rgb(0, 126, 167,0.5);
    background-color: rgb(0, 126, 167,0.1);
}
.btnformulaire{
    background-color: rgb(0, 126, 167,0.5);
}