
.containerPP {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
}
.infoOperateur{
    background-color: white;
    height: 50%;
    width: 100%;
}
.infoClient{
    height: 50%;
    width: 100%;

}
.infoOP1{
    background-image: url("../../../public/logo-fr.jpg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #337AB7;
    height: 45%;

}
.infoOP2{
    height: 55%;
    display: flex;
    flex-direction: column;
    color: #337AB7;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
   border: 2px solid #337AB7;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
   border-radius: 4px;
}
.infoCL1{
    background-color: #337AB7;
    height: 15%;
}
.infoCL1>p{
padding-left: 70px;
padding-top:10px ;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
display: flex;
align-items: center;
color: #FFFFFF;
}
.infoCL2{
    background-color: white;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    border: 2px solid #337AB7;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  
}
.formulaire{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.form-group >label{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
color: #3B5998;
}
.form-group1 >label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #3B5998;
    }
    .form-col{ 
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center; }
.form-group {
   
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px; 
    align-items: center; 
  }
  .form-group>input{
    background: #FFFFFF;    
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 4px;
    height: 30px;

  }
  .form-group1>input{
    background: #FFFFFF;    
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 4px;
    height: 30px;
  }
  .form-group1 {
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px; 
  
  }
.buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.submitBTNAI{
    margin: 6px;
    height: 35px;
    width: 120px;
    left: 16px;
    right: 248.89px;
    top: 0px;
    background: #FF6600;
    border: 1px solid #FF6633;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19x;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;

}
.submitBTNAI:hover{
    background: #337AB7;  
}
.infoCL3{
    padding-top:15px ;
    background-color: #337AB7;
    background-image: url("../../../public/help-fr.jpg.png")  ,url("../../../public/telephone2.jpg.png");
    background-repeat: no-repeat;
    background-position: 5%, 95%;
    height: 10%;
}