.Commentaires{
padding: 10px;
}
.Commentaire{
border-bottom: solid 2px  #00A8E8 ;
padding: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 15px;
color: #000000;
}
.Commentaire>h3{
    color: #00A8E8 ;
    margin: 2px;
}
.supprimer{
width: 100px;
height: 25px;
margin-left: 500px;
}

    .hautCom{
        display: flex;
        flex-direction: row;
        
    }
    .pdp{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }